body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  width: 400px;
  margin: 80px auto;
  text-align: center;
}

.input-box {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background: #1e293b;
  padding: 10px;
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
  border-radius: 6px;
}

.done span {
  text-decoration: line-through;
  color: #94a3b8;
}
