body {
  margin: 0;
  background: #0f172a;
  color: white;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 60px;
}

.search {
  margin: 20px;
}

input {
  padding: 10px;
  border-radius: 6px;
  border: none;
  width: 200px;
}

button {
  padding: 10px 15px;
  margin-left: 10px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin: 30px auto;
  width: 300px;
  border-radius: 10px;
}

.error {
  color: #f87171;
}
